<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
          <p>lourd</p>
        {% endblock %}
        {% block javascripts %}
         {{ encore_entry_script_tags('app') }}
        {% endblock %}
     
    </body>
   
</html>