{% extends 'base.html.twig' %}
{% block body %}
{% if app.user %}
<h1>Editer le details</h1>
{{ form_start(form) }}
{{ form_widget(form)}}
<button class="btn btn-success" type="submit">Sauvegarder</button>
{{ form_end(form) }}
{% else %}
<p>Vous n'etes pas autoriser a etre sur cette page</p>
{% endif %}

{% endblock %}