<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="app">
<<<<<<< HEAD
            <p>salut les gens</p>
=======
            
>>>>>>> 6dccb34064c74b46b12bb507f1a5255f9a944c75
            </div>
        {% endblock %}
        {% block javascripts %}
         {{ encore_entry_script_tags('app') }}
        {% endblock %}
     
    </body>
   
</html>